.content-container{
    width: 80%;
    margin: auto;
    
  

    .content-tabs{
        margin-top: 50px;
        
        
        height: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;

        div{
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .content-body {
        width: 100%;
        border: 1px solid black;
        .pending-cases{
            padding: 50px 0;
            td, th{
                border: 1px solid black;
                text-align: center;
                padding: 8px;
            }
            width: 80%;
            margin: auto;

        }

    }

}