.navbar-container {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #293684;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 75px;
  -webkit-box-shadow: 0px 7px 4px 2px rgba(0, 0, 0, 0.44);
          box-shadow: 0px 7px 4px 2px rgba(0, 0, 0, 0.44);
  z-index: 10;
}

.navbar-container .nav-left {
  font-size: 2em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-left: 50px;
}

.navbar-container .nav-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.home-container {
  width: 100%;
  height: 100vh;
  background: url("../assets/images/HomeBg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.home-container .container-description {
  width: 26.5%;
  position: relative;
  left: 66%;
  top: 130px;
}

.home-container .container-description .nahra-badge {
  color: white;
  text-align: center;
  background-color: #293684;
  width: 500px;
  -webkit-box-shadow: 10px -10px 4px 5px rgba(0, 0, 0, 0.44);
          box-shadow: 10px -10px 4px 5px rgba(0, 0, 0, 0.44);
}

.home-container .container-description .nahra-badge hr {
  height: 2px;
  background-color: #ff3b3b;
  border: none;
  margin-bottom: 25px;
}

.home-container .container-description .nahra-badge .acronym {
  font-size: 3em;
  padding: 29px 0px 0px 0px;
  margin: 90px 0 0 0;
}

.home-container .container-description .nahra-badge .description {
  margin: 0px;
  font-size: 1.3em;
  padding-bottom: 25px;
}

.home-container .container-description .home-intro p {
  width: 500px;
  color: black;
  margin: 50px 0;
}

.home-container .container-description .home-learn-more {
  background-color: #293684;
  padding: 17px 0;
  border-radius: 3px;
  width: 120px;
  margin-left: 200px;
}

.home-container .container-description .home-learn-more a {
  color: white;
  text-decoration: none;
  padding: 0px 18px;
}

.home-content .card-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-content .card-main .card-container {
  border: black solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  width: 20%;
  height: 550px;
  -webkit-box-shadow: 10px -10px 4px 5px rgba(0, 0, 0, 0.44);
          box-shadow: 10px -10px 4px 5px rgba(0, 0, 0, 0.44);
}

.home-content .card-main .card-container p {
  padding: 0 45px;
}

.home-content .card-main .card-container .card-button {
  border: 1px solid black;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.home-content .card-main .card-container .card-button:hover {
  background-color: red;
  color: white;
}

.main-banner {
  margin: 15% 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 200px;
}

.main-banner .main-banner-left .background-square {
  background-color: #ff3b3b;
  width: 50%;
  height: 300px;
  position: absolute;
  z-index: 0;
  margin-top: 120px;
}

.main-banner .main-banner-left .body-img {
  width: 75%;
  position: relative;
  margin-left: 10%;
}

.main-banner .main-banner-right {
  margin: 15px 75px;
}

.content-container {
  width: 80%;
  margin: auto;
}

.content-container .content-tabs {
  margin-top: 50px;
  height: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-container .content-tabs div {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-container .content-body {
  width: 100%;
  border: 1px solid black;
}

.content-container .content-body .pending-cases {
  padding: 50px 0;
  width: 80%;
  margin: auto;
}

.content-container .content-body .pending-cases td, .content-container .content-body .pending-cases th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

.footer {
  background-color: #293684;
  color: white;
  height: 305px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-left {
  margin-left: 3%;
}

.footer .footer-left .footer-left-header p {
  font-size: 1.5em;
}

.footer .footer-left .footer-left-body a {
  text-decoration: none;
  color: #fa6a6a;
}
/*# sourceMappingURL=main.css.map */