@import './variables.scss';

.navbar-container {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #293684;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    height: 75px;
    box-shadow: 0px 7px 4px 2px rgba(0, 0, 0, 0.44);
    z-index: 10;
    .nav-left {
        font-size: 2em;
        color: white;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-left: 50px;
    }
    .nav-center{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    }
